:root{
    --main-color-dark: #000;
    --main-color-light:#fff;
    --link-color: #149dcc;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin hamburger__line {
    height: 3px;
    width: 100%;
    background-color: var(--main-color-dark);
    position: absolute;
    left: 0;
}

@mixin flex_centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hundred {
    height: 100%;
    width: 100%;
}

@mixin width_auto{
    height: 100%;
    width: auto;
}

@mixin height_auto{
    width: 100%;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color-light);
}

.makeup-header{
    @include flex_centered;

    justify-content: space-between;
    background-color: var(--main-color-light);
    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
    .makeup-header__logo{
        height: 100%;
        width: 30%;
        display: flex;
        .logo__img{
            @include width_auto;

            z-index: 999;
        }
    }
    .makeup-header__hamburger{
        display: inline-block;
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
        border: 0;
        margin: 0;
        z-index: 999;
        &:focus{
            outline: none;
        }
        .hamburger__box{
            display: inline-block;
            height: 30px;
            position: relative;
            .hamburger__inside{
                @include hamburger__line();
                top: 50%;
                transform: translateY(-50%);
                transition: background-color .1s .2s ease-in-out;
                &::before,
                &::after{
                    @include hamburger__line();

                    content: '';
                    transition: transform .2s .2s ease-in-out;
                }
                &::before{
                    top: -10px;
                }
                &::after{
                    top: 10px;
                }
            }

        }
    }
    .hamburger--active .hamburger__box .hamburger__inside{
        background-color: transparent;
        &::before{
            content: '';
            transform: translateY(10px) rotate(45deg);
        }
        &::after{
            content: '';
            transform: translateY(-10px) rotate(-45deg) ;
        }

    }
    .makeup-header__links{
        @include flex_centered;
        align-items: unset;

        width: 100%;
        height: 50vh;
        left: 0px;
        top: 10vh;
        transform: translateY(-60vh);
        transition: transform 0.6s .1s ease-in-out;
        .links__list{
            @include flex_centered;

            justify-content: space-evenly;
            // width: 100%;
            flex-direction: column;
            text-decoration: none;
            list-style: none;
            background-color: var(--main-color-light);

            a{
                @include flex_centered;

                // width: 100%;
                color: var(--main-color-dark);
                text-decoration: none;
                font-size: 2em;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                &:focus{
                    border-color: var(--main-color-dark);
                    background-color: #c7c7c7;
                }
            }
        }
    }
    .links--active{
        transform: translateY(0);
    }
}

.makeup-main{
    @include hundred;

    position: relative;
    .swiper-container {
        width: 100%;
        height: 90vh;
        background-color: var(--main-color-light);

      }

    .swiper-slide {
        @include hundred;


        text-align: center;
        font-size: 18px;
        background: var(--main-color-light);
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


    .main__pictures{
        width: 100%;
        height: 90vh;
        background-color: var(--main-color-light);
    }
    .main__quotation{
        @include flex_centered;

        height: 20vh;
        flex-direction: column;
        position: relative;
        font-family: 'Courier Prime' , sans-serif;
        margin: 50px 0 0 0;
        .quotation__text{
            background-color: var(--main-color-light);
            display: inline-block;
            width: 100%;
            padding: 0 10px;
            text-align: center;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1.5em;
        }
        .quotation__sign{
            display: block;
            position: relative;
            margin: 15px 10px;
            left: 30%;
        }
    }
    .main_portrait{
        width: auto;
        height: 100vh;
        background-color: var(--main-color-light);
        background-image: url('../../src/assets/paralax.JPG');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    // @media only screen and (max-device-width: 1366px) {
    //     .main_portrait{
    //       background-attachment: scroll;
    //     }
    // }
    .main__about-me{
        width: 100%;
        padding: 30px;
        background-color: var(--main-color-dark);
        color: var(--main-color-light);
        .about-me__photo{
            @include height_auto;
            .about-me__img{
                @include height_auto;
                display: inline-block;
            }
        }
        .about-me__text{
            margin: 30px 0;
            font-family: 'Courier Prime' , sans-serif;
            word-spacing: 1px;
            letter-spacing: 1px;
            line-height: 1.5em;
            .text__sign{
                width: 100%;
                display: inline-block;
                text-align: end;
                font-weight: 900;
            }
        }
    }
    .main__contact{
        @include flex_centered;
        @include height_auto;

        padding: 15px 20px;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        .contact__logo{
            display: block;
            width: 50%;
            .logo__img{
                @include height_auto;
            }
        }
        .contact__adress,
        .contact__contact{
            padding: 30px 0;
            display: block;
            .adress__title,
            .contact__title{
                display: inline-block;
                width: 100%;
                text-align: center;
                font-weight: 700;
            }
            .adress__adress,
            .contact__email,
            .contact__telephon{
                line-height: 2rem;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
            .contact__email,
            .contact__telephon{
                @include flex_centered;
                padding: 30px 0;
                flex-direction: column;
                width: 100%;
                .contact__email-adress,
                .contact__telephon-number{
                    display: inline-block;
                    width: 100%;
                    color: var(--link-color);
                }
            }
        }
        .contact__socials{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .socials__facebook,
            .socials__instagram{
                margin: 15px;
            }
        }
    }
}
.makeup__footer{
    @include height_auto;
    .contact__map{
        width: 100%;
        height: 50vh;
        background-color: var(--main-color-light);
    }
}

@media screen and (max-width: 499px){
    .makeup-header{
        height: 10vh;
        padding: 0px 10px 0 10px;
        .makeup-header__links{
            position: absolute;
            .links__list{
                width: 100%;
                a{
                    width: 100%;
                }
                .links__facebook,
                .links__instagram{
                    height: (100vh / 12);
                }
            }
        }
    }
    .hamburger__box{
        width: 24px;
    }
    .adress__title,
    .contact__title{
        font-size: 1.3rem;
    }
    .quotation__text,
    .quotation__sign,
    .about-me__text,
    .adress__adress,
    .contact__email,
    .contact__telephon{
        font-size: 1.1rem;
    }
    .contact__socials{
        flex-direction: column;
        .socials__facebook,
        .socials__instagram{
            height: (100vh / 10);
        }
    }
}

@media screen and (min-width: 500px){
    .makeup-header{
        height: 12vh;
        padding: 0px 30px 0 30px;
        .makeup-header__links{
            position: absolute;
            .links__list{
                width: 100%;
                a{
                    width: 100%;
                }
                .links__facebook,
                .links__instagram{
                    height: (100vh / 12);
                }
            }
        }
    }
    .hamburger__box{
        width: 34px;
    }
    .adress__title,
    .contact__title{
        font-size: 1.6rem;
    }
    .quotation__text,
    .quotation__sign,
    .about-me__text,
    .adress__adress,
    .contact__email,
    .contact__telephon{
        font-size: 1.3rem;
    }
    .contact__socials{
        flex-direction: row;
        padding: 30px 0px 15px 0px;
        .socials__facebook,
        .socials__instagram{
            height: (100vh / 10);
        }
    }
}
@media screen and (min-width: 960px){
    .makeup-header{
        height: 12vh;
        padding: 0px 30px 0 30px;
    }
    .hamburger__box{
        width: 34px;
    }
    .adress__title,
    .contact__title{
        font-size: 2rem;
    }
    .quotation__text,
    .quotation__sign,
    .about-me__text,
    .adress__adress,
    .contact__email,
    .contact__telephon{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1367px){
    .makeup-header{
        height: 12vh;
        padding: 0 30px 0 30px;
        flex-direction: row;
        margin: 0;
        padding: 0;
        .makeup-header__logo{
            margin: 0 0 0 50px;
        }
        .makeup-header__hamburger{
            display: none;
        }
        .makeup-header__links{
            height: 100%;
            top: 0;
            transform: translateY(0);
            position: relative;
            .links__list{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin: 25px;
                padding: 25px;
                font-size: 1.0rem;
                a{
                    width: auto;
                    margin: 35px;
                    padding: 0;
                }
                .links__facebook,
                .links__instagram{
                    height: (100vh / 20);
                    margin: 0;
                    padding: 0;
                    width: auto;
                }
            }
        }
    }
}
